{% extends 'base.html' %}

{% block content %}
<div class='jumbotron'>
   <h2>please login : </h2>
   <h3>(must be a superuser)</h3>
   {% if form.error%}
    <p>the username and password didn't match please try again</p>
     {% endif %}

 <form action="{% url 'login'%}" method ='POST'>
         <input action="{% url 'login' %}"  method="POST">
                    {% csrf_token %}
                      {{ form.as_p }}
         <input type="submit" class='btn-btn-primary ' value='login' >
         <input type="hidden" class="" value="{{next}}" >
 </form>
</div>

{% endblock  %}